<div class="center">
    <p>Our masters:</p>
    <table class="table">
        <tr class="header">
            <td>Name</td>
            <td>Last Name</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Services</td>
        </tr>
        <tr *ngFor = "let data of httpdata">
            <td>{{data.firstName}}</td>
            <td>{{data.lastName}}</td>
            <td>{{data.phone}}</td>
            <td>{{data.email}}</td>
            <td><span *ngFor = "let s of data.services">{{s.name}}. </span></td>
        </tr>
    </table>
</div>