<div class="center">
    <p style="color: dodgerblue"><b>Make an appointment!</b></p>
    <p>Your name:</p>
    <input class="form-control" [(ngModel)]="name" placeholder = "name" /> <br>
    <p>Your phone number:</p>
    <input class="form-control" [(ngModel)]="phone" placeholder = "phone number" /> <br>
    <p>Choose your master:</p>
<select [(ngModel)]="masterId" >
    <option *ngFor="let m of httpdata" value="{{m.id}}" > {{m.firstName}} {{m.lastName}}</option>
</select><br>
    <p>Choose date:</p>
    <input id="date" type="date" [(ngModel)]="date" placeholder="yyyy-mm-dd">
    <p>Choose time:</p>
    <input id="time" type="time" [(ngModel)]="time" placeholder="HH-MM">
    <br><br>
    <button class="button" (click)="addReservation()">Make an appointment</button>
    <br>
</div>
